
@{
    ViewBag.Title = "SignIn";
}


<form action="action_page.php" method="post">
    <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>
    @*<h7>
            <a href="../../SignUp/SignUp">Click here to sign up</a>
        </h7>*@
    <div class="container">
        <label for="uname"><b>  Username</b></label>
        <br />
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br />

        <label for="psw"><b> Password</b></label>
        <br />
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br />


        <label>
            <br />
            <input type="checkbox" checked="checked" name="remember">  Remember me <br />
        </label>
        <br />
        <br />
        <button type="submit" name="SignIpBtn" value="Sign Ip" onclick="window.location='@Url.Action("newMenu", "Home")'">Sign In</button> <br />
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <br />
        @*<span class="psw">Forgot <a href="#">password?</a></span>*@
        <br />
        <span class="psw">Not a Member? <a href="../../SignUp/SignUp">Sign Up</a></span>

    </div>
</form>


